h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.125em;
  color: #7E3D39;
  line-height: 60px;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media (min-width: 830px) {
  h2 {
    font-size: 3.125em;
    text-align: left;
  }
}

h3 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 1.625em;
  line-height: 30px;
  font-weight: 300;
  font-style: italic;
  margin-block-start: 0;
  margin-block-end: 0;
}

#scenario {
  background: url(../img/wood-bg.jpg);
  height: auto;
  display: flex;
  padding: 90px 0 170px 0;
  justify-content: center;
  align-items: center;
  position: relative;
}
#scenario .transition-black {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100px;
  background: #260202;
  background: -moz-linear-gradient(180deg, rgba(38, 2, 2, 0) 0%, black 40%);
  background: -webkit-linear-gradient(180deg, rgba(38, 2, 2, 0) 0%, black 40%);
  background: linear-gradient(180deg, rgba(38, 2, 2, 0) 0%, black 40%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#260202",endColorstr="#000000",GradientType=1);
}
#scenario #scenario-bg-frame {
  width: 100%;
  height: auto;
  background: #E7E7C5;
  position: relative;
  height: 90%;
  padding: 70px 0 70px 0;
}
@media (min-width: 830px) {
  #scenario #scenario-bg-frame {
    width: 87.3%;
    border-radius: 10px;
  }
}
#scenario #scenario-bg-frame #scenario-margins {
  margin: auto;
  width: 65%;
}
@media (min-width: 550px) {
  #scenario #scenario-bg-frame #scenario-margins {
    width: 75%;
  }
}
@media (min-width: 830px) {
  #scenario #scenario-bg-frame #scenario-margins {
    width: 87.3%;
    display: grid;
    grid-template-columns: 36.1% 56.1%;
    column-gap: 7.8%;
  }
}
#scenario #scenario-bg-frame #scenario-margins a {
  margin: 0 auto;
  text-align: center;
  font-family: "Playfair Display", "Times New Roman", serif;
  color: white;
  background: #9F323D;
  border-radius: 10px;
  border: none;
  padding: 15px 20px;
  font-size: 1.25em;
  box-shadow: #6b6b6b 0 3px 4px;
  transition: background 200ms ease-in-out;
  text-decoration: none;
  width: 60%;
}
#scenario #scenario-bg-frame #scenario-margins a:hover, #scenario #scenario-bg-frame #scenario-margins a:focus {
  background: #7E3D39;
  outline: none;
}
#scenario #scenario-bg-frame #scenario-margins #scenario-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 830px) {
  #scenario #scenario-bg-frame #scenario-margins #scenario-part {
    align-items: flex-start;
  }
}
#scenario #scenario-bg-frame #scenario-margins #scenario-part h2 {
  margin-bottom: 30px;
}
#scenario #scenario-bg-frame #scenario-margins #scenario-part h3 {
  margin-bottom: 10px;
}
@media (min-width: 830px) {
  #scenario #scenario-bg-frame #scenario-margins #scenario-part h3 {
    font-size: 1.875em;
    text-align: left;
    margin-bottom: 30px;
  }
}
#scenario #scenario-bg-frame #scenario-margins #scenario-part p {
  margin-top: 30px;
  text-align: justify;
}
@media (min-width: 830px) {
  #scenario #scenario-bg-frame #scenario-margins #scenario-part p {
    font-size: 1em;
    margin-top: 0px;
  }
  #scenario #scenario-bg-frame #scenario-margins #scenario-part p:first-child {
    margin-top: 0px;
  }
}
#scenario #scenario-bg-frame #scenario-margins #scenario-part a {
  margin-top: 40px;
}
@media (min-width: 830px) {
  #scenario #scenario-bg-frame #scenario-margins #scenario-part {
    grid-column: 2;
    grid-row: 1;
  }
}
#scenario #scenario-bg-frame #scenario-margins #shop-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#scenario #scenario-bg-frame #scenario-margins #shop-part .game-packaging {
  width: 100%;
}
@media (min-width: 550px) {
  #scenario #scenario-bg-frame #scenario-margins #shop-part .game-packaging {
    width: 65%;
  }
}
@media (min-width: 830px) {
  #scenario #scenario-bg-frame #scenario-margins #shop-part .game-packaging {
    width: 100%;
  }
}
@media (min-width: 1305px) {
  #scenario #scenario-bg-frame #scenario-margins #shop-part .game-packaging {
    width: 75%;
  }
}
@media (min-width: 1450px) {
  #scenario #scenario-bg-frame #scenario-margins #shop-part .game-packaging {
    width: 50%;
  }
}
@media (min-width: 830px) {
  #scenario #scenario-bg-frame #scenario-margins #shop-part {
    grid-column: 1;
    grid-row: 1;
  }
}

#deskgame {
  background: black;
  height: 80vh;
  width: 100vw;
}

/*# sourceMappingURL=scenario.css.map */
