body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(241,207,173,1) 0%, rgba(254,237,200,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 2300px;
    font-family: arial;
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    height: auto;
    margin-top: 40px;
}

.toy-card {
    width: 29%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 200ms 600ms;
    height: auto;
    margin: auto;
    margin-bottom: 90px;
    box-shadow: rgba(14, 14, 14, 0.2) 0 0px 0px;
    perspective: 1000px;
}

.toy-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1000ms 300ms;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.toy-card:hover > .toy-card-inner {
    transform: rotateY(360deg);
}

@keyframes box-shadow-hover {
    0% {
        box-shadow: rgba(14, 14, 14, 0.2) 0 0px 0px;
    }

    100% {
        box-shadow: rgba(14, 14, 14, 0.5) 0 7px 10px;
    }
}

.toy-card:hover {
    /* box-shadow: rgba(14, 14, 14, 0.2) 0 7px 10px; */
    animation: box-shadow-hover 300ms 1200ms both;
} 

.toy-card__image {
    background: /* linear-gradient(0deg, rgba(192,97,4,0.5) 0%, rgba(249,176,12,0.5) 100%)*/ url('images/backgrounds/bg2.png');
    background-size: cover;
    width: 100%;
    height: 275px; /* 55% */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px 20px 0 0;
}

.toy-card__image img {
    height: 250px;
    transition: transform 400ms 800ms ease-in-out;
}

.toy-card:hover > .toy-card-inner .toy-card__image img {
    transform: scale(1.2) translateY(-21px);
}

.toy-card__name {
    height: 40px; /* 8% */
    background: #2d2a3b;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    font-weight: 900;
    font-size: 30px;
    color: white;
}

.toy-card__description {
    height: 100px; /* 20% */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 0 0 20px 20px;
    transition: border-radius 200ms;
    line-height: 20px;
}

.toy-card:hover > .toy-card-inner .toy-card__description {
    border-radius: 0;
}

.toy-card__description > p {
    color: #555;
    font-size: 12px;
    width: 80%;
    text-align: center;
}

.toy-card__unit-stats {
    width: 100%;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 0 0 20px 20px;
    transition: all 400ms 800ms;
    margin-top: -10px;
}

.one-third {
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.one-third:first-child {
    grid-column: 1;
    background: orangered;
    border-radius: 0 0 0 20px;
}

.stat {
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;

}

.stat-value {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-shadow: brown 1px 1px 0;
}

.one-third:nth-child(2) {
    grid-column: 2;
    background: rgb(255, 95, 36);
    border-left: 1px #282828 solid;
    border-right: 1px #282828 solid;
}

.one-third:last-child {
    grid-column: 3;
    background: orangered;
    border-radius: 0 0 20px 0;
}

.toy-card:hover > .toy-card-inner .toy-card__unit-stats {
    opacity: 1;
    transform: scaleY(1);
}

.toy-card-reverse {
    background: url('images/backgrounds/bg-card.jpg');
    background-size: cover;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 415px;
    opacity: 1;
    border-radius: 20px;
    transition: transform 1000ms 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.toy-card:hover > .toy-card-reverse {
    transform: rotateY(180deg);
    visibility: hidden;
    animation: visibility-reverse 1000ms both;
}

@keyframes visibility-reverse {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

.toy-card-reverse img {
    width: 60%;
}



